<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/site.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <div class="wrapper">

        <section>
            <div id="title">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
                <hr>
            </div>

            {{ content }}

        </section>

        <footer>
            <span class="credits left">Project maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a
                    href="https://twitter.com/mattgraham">mattgraham</a></span>
        </footer>
    </div>
</body>

</html>